<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PenPen</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="style/layout.css") }}">
        {% block link %}{% endblock %}
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <h1>PenPen</h1>
        </header>
        <!-- CONTENT -->
        <div id="block-body">
            {% block body %}{% endblock %}
        </div>
        <!-- FOOTER -->
        <footer>
            <p>PenPen v0.1-beta</p>
        </footer>
    </body>
</html>